<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="ipaddress" label="0002" type="ipaddress" default="192.168.1.0"/>
    <setting id="res" label="0003" type="labelenum" lvalues="720|1080|4k"/>
    <setting id="fps" label="0004" type="labelenum" lvalues="30|60|144"/>
    <setting id="bitrate" label="0005" type="slider" default="50" range="10,10,100" option="int" />
</settings>
