<?xml version="1.0" ?>
<settings version="1">
    <category id="general" label="0001" help="">
        <setting id="ipaddress" label="0002" type="ipaddress" default="192.168.1.0"/>
        <setting id="res" label="0003" type="labelenum" lvalues="00031|00032|00033"/>
        <setting id="fps" label="0004" type="labelenum" lvalues="00041|00042|00043"/>
        <setting id="bitrate" label="0005" type="slider" default="50" range="10,10,100" option="int" />
    </category>
</settings>
